.tripInfo {
	background-color: var(--bg-color-second);
	border: 1px solid black;
	padding: 4rem 4rem 6rem;
	margin-top: 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 4rem;
}

.tripInfoImageWrapper {
	display: grid;
	grid-template-areas:
		"main second"
		"main third";
	margin: 0;
	grid-template-columns: 65% 35%;
	grid-row: 50% 50%;
	max-height: 60rem;
	gap: 1rem;
}

.tripInfoImageWrapper img {
	max-width: 100%;
	height: 100%;
}

.imgMain {
	grid-area: main;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.imgMain img {
	min-height: 100%;
}

.imgSecond {
	grid-area: second;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.imgThird {
	grid-area: third;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.tripInfo .tripInforContent {
	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.tripInfo h3 {
	font-size: 3rem;
}

.tripInfo h4 {
	font-size: 2.4rem;
	text-align: center;
	font-family: var(--font-nav);
}

.tripInfo ul {
	width: 100%;
	text-align: center;
	list-style: none;
	padding-left: 3rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	font-size: 1.8rem;
}

.tripInfo p {
	margin: 0;
	text-align: left;
	font-size: 1.8rem;
}

.navDetails {
	margin-top: 3rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 3rem;
}

.navDetails a {
	cursor: pointer;
	padding: 1rem 3rem;
	font-family: var(--font-nav);
	font-size: 1.6rem;
	font-weight: bold;
	border-radius: 0;
	background-color: var(--bg-color-second);
	border: 1px solid black;
	transition: all 200ms ease;
	box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.1);
	color: var(--text-color-main);
	text-decoration: none;
}

.navDetails a:hover {
	box-shadow: 0 0.4rem 0.5rem rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 640px) {
	.tripInfoImageWrapper {
		display: grid;
		grid-template-areas: "second";
		grid-template-columns: 100%;
		grid-row: 100%;
		height: 50rem;
		gap: 1rem;
	}

	.tripInfoImageWrapper img {
		max-width: 100%;
		height: 100%;
	}

	.imgMain {
		display: none;
	}

	/* .imgMain img {
		min-height: 100%;
	} */

	.imgSecond {
		grid-area: second;
		min-height: 100%;
	}

	.imgSecond img {
		min-height: 100%;
	}

	.imgThird {
		display: none;
	}
}
