@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

:root {
	/* 5588cc lue berlin*/
	/* ff0047 */
	--bg-color-main: #0a192f;
	--text-color-main: white;
	--text-color-second: black;
	--text-color-third: #1a1a1a;
	--dropped-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
	--transition: all 250ms ease;
	--font-main: Georgia, serif;
	--font-nav: "Lato", sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: var(--font-main);
}

html {
	font-size: 10px;
}

.mainHeader {
	background-color: var(--bg-color-main);
}

.navigation {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	border-bottom: 1px solid black;
	transition: var(--transition);
	height: 0;
	overflow: hidden;
}

.navigationOn {
	height: 6rem;
	box-shadow: var(--dropped-shadow);
}

.navigationItem {
	font-family: var(--font-nav);
	list-style: none;
	font-size: 2.5rem;
	font-weight: 900;
	color: black;
}

.navigationItem a {
	font-family: var(--font-nav);
	text-decoration: none;
	color: black;
}

.navigationItem a:hover {
	text-decoration: underline;
}

.navActive {
	color: var(--bg-color-main);
}

h1 {
	position: absolute;
}

h1 a {
	font-family: var(--font-nav);
	text-decoration: none;
	color: white;
	font-size: 3rem;
}

.burgerWrapper {
	width: 100%;
	max-width: 1170px;
	padding: 0 15px;
	margin: auto;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.burger {
	justify-content: center;
	align-items: center;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	padding: 2rem;
	cursor: pointer;
	transition: var(--transition);
}

.line {
	background-color: white;
	height: 0.4rem;
	width: 3.5rem;
	border-radius: 0.2rem;
	transition: var(--transition);
}

.toggle .lineOne {
	transform-origin: center;
	transform: translateY(1rem) rotate(45deg);
}
.toggle .lineTwo {
	opacity: 0;
}
.toggle .lineThree {
	transform-origin: center;
	transform: translateY(-1rem) rotate(-45deg);
}

.mainContent {
	background-color: var(--bg-color-main);
	min-height: calc(100vh - 12.5rem);
	/* border-bottom: 1px solid black; */
	box-shadow: var(--dropped-shadow);
	/* transition: var(--transition); */
	padding-top: 1rem;
	padding-bottom: 5rem;
}

.mainContentActive {
	min-height: calc(100vh - 18.5rem);
}

.mainFooter {
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerContainer {
	margin: auto;
	max-width: 1170px;
	padding: 1.5rem;
	width: 100%;
}

.footerContainer h4 {
	font-family: var(--font-nav);
	min-height: 100%;
	font-size: 2rem;
}

.footerContainer a {
	min-height: 100%;
	margin-left: 2rem;
	text-decoration: none;
	font-family: var(--font-nav);
	color: var(--bg-color-main);
}

@media only screen and (max-width: 780px) {
	.navigationItem {
		font-size: 1.7rem;
	}
	h1 a {
		position: block;
		font-size: 2.3rem;
	}
}
section {
	margin: 2rem auto;
	padding: 0 1.5rem 2rem;
	max-width: 1170px;
	min-height: 100%;
}

h2 {
	margin: auto;
	color: var(--text-color-main);
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 3rem;
}

main p {
	margin: auto;
	/* font-size: 1.7rem; */
	font-size: 32px;
	margin-bottom: 1.5rem;
	color: var(--text-color-main);
	/* color: rgb(200, 200, 200); */
}

figure {
	max-width: 100%;
	overflow: hidden;
	margin: 15px 0;
}

figure img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}

figcaption {
	font-size: 1.2rem;
	padding-top: 15px;
	color: var(--text-color-main);
	text-align: center;
	display: none;
}

@media only screen and (max-width: 780px) {
	h2 {
		font-size: 23px;
	}

	main p {
		font-size: 23px;
	}
}

.visitSpotsWrapper {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	gap: 1rem;
}

.visitSpot {
	background-color: white;
	height: 24rem;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.visitSpot img {
	width: 100%;
}

.visitSpotTitle {
	max-width: max-content;
	padding: 0.5rem 1rem;
	font-size: 3rem;
	background-color: rgba(255, 255, 255, 0.5);
	top: 1rem;
	left: 1rem;
	position: absolute;
	transition: var(--transition);
	opacity: 0;
}

.visitSpot:hover .visitSpotTitle {
	opacity: 1;
}
