@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

:root {
	/* 5588cc lue berlin*/
	--bg-color-main: #20477a;
	--dropped-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	--transition: all 250ms ease;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

html {
	font-size: 10px;
}

.mainHeader {
	background-color: var(--bg-color-main);
}

.navigation {
	background-color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	transition: var(--transition);
	height: 0;
	overflow: hidden;
}

.navigationOn {
	height: 6rem;
	border-bottom: 1px solid black;
	box-shadow: var(--dropped-shadow);
}

.navigationItem {
	list-style: none;
	font-size: 2.5rem;
	font-weight: 900;
	color: black;
}

.navigationItem a {
	text-decoration: none;
	color: black;
}

.navigationItem a:hover {
	text-decoration: underline;
}

.navActive {
	color: var(--bg-color-main);
}

h1 {
	position: absolute;
}

h1 a {
	text-decoration: none;
	color: white;
	font-size: 3rem;
}

.burgerWrapper {
	width: 100%;
	max-width: 1170px;
	margin: auto;
	padding: 0 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.burger {
	justify-content: center;
	align-items: center;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 0.6rem;
	padding: 2rem;
	cursor: pointer;
	transition: var(--transition);
}

.line {
	background-color: white;
	height: 0.4rem;
	width: 3.5rem;
	border-radius: 0.2rem;
	transition: var(--transition);
}

.toggle .lineOne {
	transform-origin: center;
	transform: translateY(1rem) rotate(45deg);
}
.toggle .lineTwo {
	opacity: 0;
}
.toggle .lineThree {
	transform-origin: center;
	transform: translateY(-1rem) rotate(-45deg);
}

.mainContent {
	background-color: var(--bg-color-main);
	min-height: calc(100vh - 12.5rem);
	border-bottom: 1px solid black;
	box-shadow: var(--dropped-shadow);
	transition: var(--transition);
}

.mainContentActive {
	min-height: calc(100vh - 18.5rem);
}

.mainFooter {
	height: 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footerContainer {
	margin: auto;
	max-width: 1200px;
	padding: 1.5rem;
	width: 100%;
}

.footerContainer h4 {
	min-height: 100%;
	font-size: 1.5rem;
}

@media only screen and (max-width: 780px) {
	.navigationItem {
		font-size: 1.7rem;
	}
	h1 a {
		position: block;
		font-size: 2.3rem;
	}
}
section {
	margin: auto;
	padding: 15px;
	max-width: 1200px;
}

h2 {
	margin-top: 6rem;
	color: white;
	font-size: 2rem;
	margin-bottom: 3rem;
}

main p {
	font-size: 1.7rem;
	margin-bottom: 1.5rem;
	color: rgb(200, 200, 200);
}

figure {
	max-width: 100%;
	/* max-height: 300px; */
	overflow: hidden;
	margin: 15px 0;
}

figure img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
}

figcaption {
	font-size: 1.2rem;
	padding-top: 15px;
	color: white;
	text-align: center;
}
